<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block tittle %} {% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = './css/style.css') }}"> 

    <script src="{{ url_for('static', filename = 'particles.js') }}"></script>
    <script src="{{ url_for('static', filename = 'app.js') }}"></script>


</head>
<body>

    <div class="container">
        <img src="{{ url_for('static', filename = './img/logoServiSegur.jpg') }}" alt="logo">
    </div>
    <h1>SERVISEGUR</h1>



    <div id="particles"></div>

    <div class="nath">
        Designed by <a href="https://github.com/coconath0">Nathaly Ingol</a> - &#169; to creators of tsparticles
    </div>
    
</body>
</html>